.imageGalleryContainer {
  padding: 0px 40px;
  margin: auto;
}

.galleryHeading {
  font-size: 40px;
  font-weight: 500;
  color: #ffb74d;
  margin-bottom: 60px;
}

.imagesContainer {
  margin: 30px auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
