.imageGalleryContainer {
  padding: 20px 40px;
  margin: 20px auto 0;
  background-color: #f1f8e9;
}

.imagesContainer {
  margin: 30px auto;
  max-width: 1800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
