.homeContainer {
  padding: 15px 0;
}

.titleWrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  padding: 0 60px;
}

.nasaLogo {
  width: 250px;
  margin: 20px;
}

.homeText {
  color: #3d1f04;
  display: flex;
  flex-direction: column;
}

.projectContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: lightcoral; */
}

.headingOne {
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.headingTwo {
  margin: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
}

.galleryHeading {
  font-size: 40px;
  font-weight: 500;
  color: #8bc34a;
}

.gallerySubHeading {
  color: #a4a4a4;
  font-weight: 300;
  font-size: 22px;
  margin: 0 40px;
}

.inputContainer {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px auto 0;
}

.dateInputBox {
  width: 250px;
  padding: 15px;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
  margin: 30px 20px 20px 20px;
}

.discoverButton {
  padding: 15px 50px;
  margin: 30px 20px 20px 20px;
  border-radius: 2em;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #009688;
  text-align: center;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.discoverButton:hover {
  background-color: #38ada9;
}
